.bodyNav {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 2rem;
}
.navMenu {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 2rem;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.linkTitulo:hover,
.linkTitulo {
  text-decoration: none;
  color: wheat;
}

/* .navMenu .Aa2, */
.navMenu .Aa {
  color: #fddb3a;
  margin-left: 8rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* font-size: 1.2em; */
  font-size: 2vh;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 2vh;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  max-width: 80px;
  max-height: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  gap: 8rem;
}
.navMenu .Aa2 {
  color: #f6f4e6;
  margin-left: 8rem;
  gap: 8rem;
  text-decoration: none;
  font-size: 2vh;
  /* font-size: 1.2em; */
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  max-width: 80px;
  max-height: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2:hover {
  color: #fddb3a;
}

.navMenu .Aa2:hover .navMenu .Aa:hover {
  color: #fddb3a;
  transition: 1s;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  /* -webkit-transform: translateX(30px);
  transform: translateX(325px); */
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* margin-left: 10rem; */
  position: absolute;
  margin-right: 32rem;
  top: 2rem;
}

.navMenu .Aa:nth-child(1) ~ .dot {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(2) ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(3) ~ .dot {
  -webkit-transform: translateX(435px);
  transform: translateX(435px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(435px);
  transform: translateX(435px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(4) ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.Titulo {
  font-family: "Caveat", cursive;
  color: wheat;
  margin-left: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 1400px) {
  .navMenu .dot {
    top: 1.4rem;
    margin-right: 16rem;
    width: 5px;
    height: 5px;
  }

  .navMenu .Aa2,
  .navMenu .Aa {
    width: 50px;
    margin-left: 6rem;
  }
  .navMenu .Aa:nth-child(1) ~ .dot {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  .navMenu .Aa2:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  .navMenu .Aa:nth-child(2) ~ .dot {
    -webkit-transform: translateX(120px);
    transform: translateX(115px);
  }
  .navMenu .Aa2:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(120px);
    transform: translateX(115px);
  }

  .navMenu .Aa:nth-child(3) ~ .dot {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .navMenu .Aa2:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }

  .navMenu .Aa:nth-child(4) ~ .dot {
    -webkit-transform: translateX(395px);
    transform: translateX(395px);
  }
  .navMenu .Aa2:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(395px);
    transform: translateX(395px);
  }
  .navMenu .dot {
    -webkit-transform: translateX(185px);
    transform: translateX(185px);
  }
  .bodyNav {
    height: 2.8rem;
    min-width: 100%;
  }
  .navMenu {
    top: 1.2rem;
  }
}
