.bodyNav {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 3.5rem;
  /* margin-top: 1rem; */
  min-height: 1rem;
}
.navMenu {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* max-height: 5rem; */
  /* background-color: red; */
}
.linkTitulo:hover,
.linkTitulo {
  text-decoration: none;
  color: wheat;
}
/* .navMenu .Aa2, */
.navMenu .Aa {
  color: #fddb3a;
  margin-left: 8rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  max-width: 80px;
  max-height: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2 {
  color: #f6f4e6;
  margin-left: 8rem;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2:hover {
  color: #fddb3a;
}

.navMenu .Aa2:hover .navMenu .Aa:hover {
  color: #fddb3a;
  transition: 1s;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  /* -webkit-transform: translateX(30px);
  transform: translateX(325px); */
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 10rem;
}

.navMenu .Aa:nth-child(1) ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(2) ~ .dot {
  -webkit-transform: translateX(230px);
  transform: translateX(230px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(230px);
  transform: translateX(230px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(3) ~ .dot {
  -webkit-transform: translateX(420px);
  transform: translateX(420px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(420px);
  transform: translateX(420px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(4) ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.Titulo {
  /* background-color: red; */
  font-family: "Caveat", cursive;
  /* font-family: "Fredoka One", cursive; */
  color: wheat;
  margin-left: 1rem;
}

@media screen and (max-width: 1400px) {
  .navMenu {
    position: absolute;
    top: 2rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .navMenu .Aa2,
  .navMenu .Aa {
    font-size: 1em;
    width: 50px;
    margin-left: 6rem;
  }
  .navMenu .Aa:nth-child(1) ~ .dot {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  .navMenu .Aa2:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }

  .navMenu .Aa:nth-child(2) ~ .dot {
    -webkit-transform: translateX(125px);
    transform: translateX(125px);
  }
  .navMenu .Aa2:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(125px);
    transform: translateX(125px);
  }

  .navMenu .Aa:nth-child(3) ~ .dot {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
  .navMenu .Aa2:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }

  .navMenu .Aa:nth-child(4) ~ .dot {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  .navMenu .Aa2:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  .navMenu .dot {
    -webkit-transform: translateX(193px);
    transform: translateX(193px);
  }
  .bodyNav {
    height: 3rem;

    min-width: 100%;
  }
  .navMenu {
    top: 1.5rem;
  }
}
