.bodyNav {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 3.5rem;
  /* margin-top: 1rem; */
}
.navMenu {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* .navMenu .Aa2, */
.navMenu .Aa {
  color: #fddb3a;
  margin-left: 8rem;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2 {
  color: #f6f4e6;
  margin-left: 8rem;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2:hover .navMenu .Aa:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(325px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 10rem;
}

.navMenu .Aa:nth-child(1) ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(2) ~ .dot {
  -webkit-transform: translateX(230px);
  transform: translateX(230px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(230px);
  transform: translateX(230px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(3) ~ .dot {
  -webkit-transform: translateX(420px);
  transform: translateX(420px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(420px);
  transform: translateX(420px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .Aa:nth-child(4) ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .Aa2:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(520);
  transform: translateX(630px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
