.contenedorOrd {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.contenedorOrd select {
  background-color: rgba(89, 92, 76, 0.192);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 10rem;
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
}

.contenedorOrd select:hover {
}
