.contenedorAct {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffee10;
  margin-bottom: 2rem;
}

.contenedorAct option,
.contenedorAct select {
  background-color: rgba(89, 92, 76, 0.192);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 10rem;
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
  text-align: center;
  align-items: center;
}
