.boxSearch {
  /* position: absolute; */
  --accent-color: #ffd52d;
  background-color: rgba(89, 92, 76, 0);
}

.boxSearch:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.boxSearch:before,
.boxSearch:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.boxSearch:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.boxSearch:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.boxSearch:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.boxSearch:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.boxSearch:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.inputSearch::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  /* color: #ffd52d; */
  color: #ffd52d82;
  font-family: "Mulish", sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.boxSearch .inputSearch {
  border-radius: 10px 10px 0px 0px #ffd52d;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: rgba(44, 44, 44, 0.202);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e872;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.boxSearch .inputSearch:focus,
.boxSearch .inputSearch:active {
  outline: none;
}

.boxSearch:focus-within .inputSearch,
.boxSearch .inputSearch:focus,
.boxSearch .inputSearch:active {
  background-color: #353535;
}

.boxSearch:focus-within .inputSearch::placeholder {
  opacity: 0;
}

/* @media screen and (max-width: 1400px) {
  .boxSearch {
    position: absolute;
    width: 35rem;
    margin: 10px 5px 30rem 13rem;
    --accent-color: #ffd52d;
    float: right;
    background-color: rgba(89, 92, 76, 0);
    height: 2rem;
  }
  .boxSearch .inputSearch {
    font-size: 12px;
  }
} */
