.home {
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
.img {
  width: 20%;
  height: 10rem;
  object-fit: cover;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  align-items: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
  border-radius: 14px;
  /* border: solid 1px red; */
  border: 1px solid #000000;
  float: right;
  text-align: center;
  margin-top: 6rem;
}
.img:hover {
  border: 1px solid #000000;
  border-radius: 44px 8px 8px 8px;
  -moz-border-radius: 44px 8px 8px 8px;
  -webkit-border-radius: 44px 8px 8px 8px;
}
.container {
  -webkit-box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  -webkit-border-radius: 34px 34px 34px 34px;
  border: 0px solid #000000;
  background-color: rgba(145, 143, 143, 0.144);
  backdrop-filter: blur(3px);
  border: black 2px solid;

  overflow-x: scroll;
  align-items: center;

  justify-content: center;
  gap: 20px;
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.432); */
  width: 90rem;
  height: 40rem;
  /* height: 20rem; */
  float: right;
  /* display: wrap; */
  /* flex-direction: row; */
  left: 26rem;
}
::-webkit-scrollbar {
  display: none;
}
.container:hover .img {
  opacity: 0.3;
}
.container .img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.Link {
  text-decoration: none;
}

.paginado {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  top: 1rem;
  left: 10rem;
}

.cantPage {
  position: relative;
  margin-right: 10rem;
}

.filterContainer {
  -webkit-box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  box-shadow: 13px 20px 26px 5px rgba(0, 0, 0, 0.36);
  border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  -webkit-border-radius: 34px 34px 34px 34px;
  border: 0px solid #000000;
  background-color: rgba(145, 143, 143, 0.144);
  backdrop-filter: blur(3px);
  border: black 2px solid;

  /* max-height: 30rem; */
  height: 40rem;
  width: 20rem;
  /* max-width: 30rem; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 5rem;
  /* font-family: "Fredoka One", cursive; */
  font-family: "Mulish", sans-serif;
  left: 2rem;
  top: 8.5rem;
  color: white;
}
