.home {
  display: grid;
  grid-template-areas: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  /* height: 90%; */
  justify-content: space-around;
}
.filtersResponsive {
  display: none;
}
.navResponsive2 {
  display: none;
}
.img {
  width: 20%;
  height: 10rem;
  object-fit: cover;
  align-items: center;
  transform: perspective(800px) rotateY(25deg);
  border-radius: 14px;
  float: left;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  -webkit-box-reflect: below 2rem
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  -webkit-webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.noMatch {
  margin-top: 7rem;
  position: absolute;
  text-align: center;
  margin-left: 25rem;
  color: red;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}
.container {
  width: 75%;
  margin-right: 25rem;
  /* width: 90rem; */
  height: 44rem;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  -webkit-border-radius: 34px 34px 34px 34px;
  border: 0px solid #00000034;
  background-color: rgba(45, 43, 43, 0.495);
  backdrop-filter: blur(3px);
  border: black 2px solid;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  float: left;
  left: 26rem;
  top: 2rem;
}

::-webkit-scrollbar {
  display: none;
}
.container:hover .img {
  opacity: 0.3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.container .img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.searchBarHome {
  position: absolute;
}

.Link {
  text-decoration: none;
}

.paginado {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  top: 6rem;
  left: 10rem;
}

.cantPage {
  position: relative;
  margin-right: 10rem;
}

.filterContainer {
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  -webkit-border-radius: 34px 34px 34px 34px;
  border: 0px solid #000000;
  background-color: rgba(45, 43, 43, 0.495);
  backdrop-filter: blur(3px);
  border: black 2px solid;
  width: 16%;
  height: 35rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 4rem;
  font-family: "Mulish", sans-serif;
  left: 2rem;
  top: 6rem;
  color: white;
  text-align: center;
}
.paginado2 {
  display: none;
}

@media screen and (max-width: 1400px) {
  .filtersResponsive {
    display: none;
  }
  .container {
    margin: 0rem 2rem 5rem 3rem;
    width: 64rem;
    left: 16rem;
    height: 31rem;
    min-height: 350px;
  }
  .home {
    position: fixed;
  }

  .filterContainer {
    width: 13rem;

    height: 28rem;
    top: 4rem;
    line-height: 2.3rem;
    /* padding-right: 1rem; */
  }

  .img {
    width: 20%;
    height: 3rem;
    /* -webkit-box-reflect: below 0rem
      linear-gradient(transparent, transparent, #0004);
    transform-origin: top; */
  }
  .paginado {
    top: -2rem;
    left: 14rem;
  }

  .cantPage {
    position: absolute;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 1290px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1180px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .pages {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 930px) {
  .container {
    margin: 2rem 1rem 5rem 1rem;
  }

  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .errorContainer h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .filtersResponsive {
    display: grid;
    z-index: 9;
  }

  .navBarPrincipal {
    position: static;
    display: grid;
    z-index: 999;
  }

  .home {
    grid-template-rows: 1fr;
    position: fixed;
  }
  .filterContainer {
    display: none;
  }
  .container {
    max-width: 22rem;
    /* margin-left: 1rem; */
    left: 0.8rem;
    height: 38rem;
    margin-top: 0rem;
  }
  .img {
    justify-content: flex-start;
    margin-right: 5rem;
    -webkit-box-reflect: below 0rem
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));
    transform: perspective(0px) rotateY(0deg);
    margin-left: 0.8rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    line-height: 1px;
  }
  .paginado2 {
    display: flex;
    position: absolute;
    /* background-color: red; */
    top: 97%;
    left: 39%;
    width: 8rem;
    height: 1rem;
  }
  .home {
    position: fixed;
  }

  .searchBarHome {
    display: none;
  }
  .paginado {
    display: none;
  }
  .cantPage {
    display: none;
  }
}
