.navYButton {
  position: relative;
  display: flex;
  flex-direction: column;
}

.divButton {
  position: absolute;
  z-index: 1;
  margin-left: 1%;
  margin-top: 0.5%;
}

.buttonBack {
  border: #ffee10 1px solid;
  border-radius: 10px;
  color: #50504e;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  float: left;
  position: absolute;
  margin-left: 1px;
}
.buttonBack:hover {
  transition: 0.4s;
  color: #ffee10;
}

.primeraColumna {
  width: 20rem;
  height: 35rem;
  background-color: #21212160;
  backdrop-filter: blur(2px);
  /* box-shadow: 15px 15px 30px #ffee10, -15px -15px 30px #292929; */
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  color: rgb(212, 211, 208);
  float: left;
  margin-top: 6rem;
  margin-right: 6rem;
  margin-left: 5rem;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  transition: 0.8s;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
}

.countries {
  width: 80rem;
  height: 48rem;
  background-color: #21212160;
  backdrop-filter: blur(2px);
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  border-radius: 20px;
  color: wheat;
  /* display: flex; */
  flex-direction: row;
  float: right;
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 10rem; */
  margin-right: 6rem;
  font-size: 1.2rem;
  overflow: hidden;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  box-shadow: 0px 0px 18px 1px rgba(255, 238, 16, 1);
  transition: 0.8s;
  /* font-family: "Mulish", sans-serif; */
}

.countriesSelected {
  border-top: #ffee10 1px solid;
  border-bottom: #ffee10 1px solid;
  height: 11rem;
  overflow-x: scroll;
}
.SearchCountries {
}

.inputForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffee10;
  margin-bottom: 2rem;
}
.inputFormInput {
  background-color: rgba(89, 92, 76, 0.192);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 14rem;
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
  text-align: center;
  align-items: center;
}
.errorInput {
  background-color: rgba(89, 92, 76, 0.192);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 14rem;
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
  text-align: center;
  align-items: center;
  border: 1px solid red;
}
.errorInput:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

.inputFormInput::placeholder {
  font-size: 1rem;
  color: #ffef105b;
}
.inputFormInput:focus::placeholder {
  color: transparent;
}

.primeraColumna .inputForm {
  margin-top: 2rem;
  min-height: 5.5rem;
  flex-direction: column;
  text-align: center;
}
.primeraColumna .inputDif {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  text-align: center;
}
.primeraColumna .inputDur {
  min-height: 5rem;

  text-align: center;
}
.primeraColumna .inputSeas {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-bottom: 5rem;
  text-align: center;
}
/* .primeraColumna .inputForm {
  min-height: 5rem;
} */

.errors {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  text-align: center;
}

.dif1 {
  color: rgb(7, 207, 0);
}
.dif2 {
  color: rgb(187, 255, 0);
}
.dif3 {
  color: rgb(238, 255, 0);
}
.dif4 {
  color: rgb(250, 150, 1);
}
.dif5 {
  color: rgb(255, 0, 0);
}
