.containerCard {
  color: antiquewhite;
  line-height: 1rem;
}
.containerCard img {
  object-fit: cover;
  border-radius: 4.5px;
}
.containerCard p,
.containerCard h5 {
  text-shadow: -4px 3px 10px #000000;
}

.imagen {
  width: 9.375rem;
  height: 6.25rem;
}

@media screen and (max-width: 1400px) {
  .imagen {
    width: 8rem;
    height: 5rem;
  }
  .containerCard,
  .containerCard h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .imagen {
    /* width: 6rem;
    height: 4rem; */
  }
  .containerCard,
  .containerCard h5 {
    font-size: 0.7rem;
    width: 10rem;
    overflow: hidden;
    object-fit: cover;
    line-height: 10px;
  }
}
