.bodyNavResp {
  /* background: #272727; */
  /* display: grid;
  grid-template-rows: 1fr;
  z-index: 99;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  float: left;
  position: absolute;
  margin-left: 15rem; */
  font-family: "Montserrat", sans-serif;
  max-height: 3.5rem;
  height: 3.5rem;
}

.menu {
  background: none;
  z-index: 99;
  /* margin-right: 2rem; */
  margin-left: 1.4rem;
}

.menu .menuButton {
  color: wheat;
  background: none;
  border: 1px solid #373636;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menu .menuButton:hover,
.menu .menuButton:focus {
  color: #fddb3a;
}

.opciones2 {
  overflow: hidden;
  float: right;
  overflow: hidden;
  background: #272727e8 !important;
  backdrop-filter: blur(3px) !important;
  text-decoration: none;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  position: fixed !important;
}

.navMenu .Aa {
  color: #fddb3a;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu .Aa2 {
  color: #f6f4e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 2vh;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
