.buttonPaged2,
.button {
  border-radius: 10px;
  color: #ffee10;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
}
.buttonPaged2:disabled,
.button:disabled {
  border-radius: 10px;
  color: #4c4a4a;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  transition: 0.3s;
}

@media screen and (max-width: 1400px) {
  .buttonPaged2:disabled,
  .button:disabled,
  .buttonPaged2,
  .button {
    font-size: 0.8rem;
  }
}
