.contenedorLoading {
  /* background-image: url(../../assets/images/loader\ sin\ fondo.gif); */
  /* background-color: red; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  /* position: absolute; */
}

.contenedorLoading img {
  /* background-color: red; */
  display: flex;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10%;
}

@media screen and (max-width: 580px) {
  .container {
    margin: 2rem 1rem;
  }
}
